body {
	margin: 0;
}

/*-------------------------HEADER---------------------------*/
nav {
	display: none;
}

h1 {

	display: inline-block;
	margin:2% 20%;
}

.logo { display: none;
}

header {background-color: yellow;
	background-image: url(../img/logo.png);
}

.search {
	width: 30%;
	margin: 0 0 3% 10%;
}

input {
	width: 25%;
	margin: 0 2% 3% 25%;
}

/*-------------------------------MAIN---------------------------------*/

.piscineimg {
	width: 60%;
	margin-left: 2%;
}

section div h2 ,p {
	margin: 2% 3% ;
}

/*-------------------------------FOOTER--------------------------------*/

.azerti {
	display: inline-block;
	margin: 0 4% 0 0;

}

.azert {
	display: inline-block;
	margin: 0 2% 0 1%
}